@model IEnumerable<DTO.EntityDTO.PostDTO>
<div class="callbacks_wrap">
	<ul class="rslides" id="slider">
		@foreach (var item in Model)
		{
			<li>
				<img src="@item.Image1" alt="">
				<div class="caption">
					<a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
						@item.Title
					</a>
				</div>
			</li>

		}
	</ul>
</div>
